/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif; /* You can use 'Inter' or another modern font */
  background-color: #deccca;
  color: #333;
}

/* Importing Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
